/* /frontend/src/toolbar.css */


.navbar-container {
  width: 100%;
  background-color: #faf8f8;  
  padding: 3px 0;           
  box-sizing: border-box;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.3);
} 


.toolbar-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;                
  padding: 10px;           
}


.toolbar-btn {
  cursor: grab;
  min-width: 45px;
  height: 65px;           
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: white;
  color: #000000;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
}

.toolbar-btn:hover {
  background: rgb(242, 242, 253);
  border: 2px solid rgb(186, 186, 241);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.toolbar-btn:active {
  transform: scale(0.95);
}


.toolbar-icon {
  margin-bottom: 5px;       
  font-size: 2rem;
}
